@import "./base16-default-dark.css";

@define-color accent @base01;
@define-color text @base07;

* {
  font-family: Ubuntu Nerd Font;
  font-size: 16px;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  color: @text;
}

#tray {
  padding-right: 10px;
}

#window {
  padding-left: 4px;
}

#workspaces button {
  padding: 0 5px;
  color: @text;
}

#workspaces button.active {
  background-color: @text;
  color: @accent;
  border-radius: 3px;
}

#pulseaudio,
#cpu,
#memory,
#temperature,
#battery,
#custom-icon {
  color: @text;
  padding: 0 3px;
}

#battery.critical {
  color: @base08;
}

#clock {
  color: @text;
  margin: 0 3px;
  padding: 0 3px;
  padding-left: 8px;
}

.modules-left,
.modules-right {
  padding: 0px 0px 0px 0px;
}
