# Rule to allow swapping between Yubikeys for GPG
# See: https://security.stackexchange.com/a/223055
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1050", ATTRS{idProduct}=="0407", RUN+="/bin/su aos -c 'yk_gpg_fix'"
